@page {
    /*size: 8.5in 11in;*/
    margin: 0;
}

@media print {
    /*.main-content
    {
        -ms-column-count:2; 
        -moz-column-count:2; 
        -webkit-column-count:2; 
        column-count:2;
        
        -ms-column-gap:40px; 
        -moz-column-gap:40px; 
        -webkit-column-gap:40px;
        column-gap:40px;
        
        font-size: 13px;
        line-height: 1.2;
        width: 760px;
    }*/
    
    body {
        margin:0;
        padding:0;
    }
    
    #viewport { 
        /*HACK: set the viewport extra wide to scale the page to fit.*/
        /*Ratios: 816w->908h, 836w->968h*/
        width: 836px; 
        height: 958px; /*prevents blank second page*/
        overflow: hidden;
    }
    .pageWrapper {
        width:768px;
        height:auto;
        padding:0 34px 0 34px; /*centers the page in the viewport*/
        background-color:#fff;
        display:block;
        position:relative;
    }
    #controls{
        display:none;
    }
}

@media all{
    
    .header{
        width:720px;
    }
    
    .header img {
        vertical-align:middle;
    }
    
    h1, h2{
        font-size:100%;
    }
    
    /*.main-content{
        width:600px;
    }*/
    
    div.cf-page {
        page-break-after: always;
        page-break-inside: avoid !important;
        -webkit-region-break-after: always;
        -webkit-region-break-inside: avoid !important;
    }
	
	#flowedContent, #fixedContent { display: none; }
	
	.cf-page{
        font-size: 13px ;
        position:relative;
    }
    
    .cf-column p{
        font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    
    .cf-column .xhead {
        font-weight:bold;
        font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
        margin:0;
        padding-bottom:0px;
    }
    
    .header h1, .header h2 {
        display:inline;
        margin-left:20px;
        position: relative;
        top:10px;
    }
    
    .comments {
        color:#333;
        font-size:10px;
        text-align:right;
        margin-top: 10px;
    }
    
    /*Fixes retina images in this layout*/
    .cf-column div img, .cf-column div {
        /*width: inherit !important;*/ /*Full column width image*/
        width:230px; /*economist.com scaling*/
        height: auto !important; /*Keep the image proportional*/
    }
}

@media screen{
    #viewport { 
        width: 816px; 
        height: 1056px; 
        overflow:hidden;
        float:left;
        margin:40px;
        margin-left:290px;
    }
    .cf-page {
        background-color:#fff
    }   
    body, html{
        height:100%;
        float:left;
    }
    
    .highlight {
        background:#eee;
    }

    .hide{
        display:none;
    }
    .pageWrapper {
        width:816px;
        height:1056px;
        padding:24px;
        background-color:#fff;
        display:block;
        position:relative;
    }
    .cf-render-area {
        position:absolute !important;
        top:0;
        left:0;
    }
    .cf-preload {

    }
    .loading{
        background-color:#fff;
        padding:24px;
    }
    #controls{
        background-color:#fff;
        float:left;
        width:250px;
        padding:20px 40px 40px 40px;
        height:100%;
        position:fixed;
    }
    .print-btn {
        float:right;
        margin-top:50px;
    }
    .beta {
        position:relative;
        top:20px
        
    }
    #formatControls{
        margin-top:20px;
    }

}